<?xml version='1.0' encoding='utf-8'?>
<plugin id="hello-word" version="1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>hellowWord</name><js-module name="hellowWord" src="www/hellowWord.js"><clobbers target="cordova.plugins.hellowWord" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="hellowWord"><param name="android-package" value="hello-word.hellowWord" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/hellowWord.java" target-dir="src/hello-word/hellowWord" /></platform></plugin>